
body {background-color:rgba(26, 188, 156, 0.5); cyan;}

#Titulo { color: green;
         text-align: center;
            text-decoration: underline;}

.subtitulo {font-style: italic;
                  text-align: center;
                        text-decoration: underline;}

.titulos {font-style: italic;
             text-decoration: underline;
                 text-align: left;}

p {font-size: 20px;}

.imagen {height: 200px;
          width: 300px;}

header{background-color: #2E86C1; }

nav {background-position: center;
          background-color: #7DCEA0 ;
                background-size: contain;;}

.links {text-align: center;
          font-size: 16px;
            background-color: #F1948A;
                 background-position: center;}

section {float: left;
           background-color: white;
               width: 48%;
                 height: 800px;
                    overflow: auto;
                  margin: 1%;
                border: 4px solid black;
              box-sizing: border-box;}

aside {float: left;
          background-color: #FF66CC;
             width: 48%;
               height: 475px;
                  overflow: auto;
                margin: 1%;
              border: 3px dotted green;
            box-sizing: border-box;}

.creditos {text-align: center;}


footer {background-color: #CCCCFF;
                      clear: both;}

.reportar {text-align: center;
             background-color: tomato;}

.contactos {position: fixed;
               top: 75%;
                 right: 1%;}
